.task-form__input {
  outline: none;
  border: 0;
  border: 3px outset #fff;
  border-radius: 0;
  padding: 0 0 5px 10px;
  width: 100%;
  height: 50px;
  font-family: inherit;
  font-size: 24px;
  color: #fff;
  background: transparent;
}

.task-form__input ::placeholder {
  color: #999;
}
